*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
  background-image:cover;
  background-position: center;
  background-image:url(mainpic.jpg);  
}

.banner{
    width: 100%;
    height: 100vh;
}
 .navbar p{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 450%;
  transform: translate(-50%, -50%);
  color: rgb(252,240,240);
 }
 .navbar h1{
  margin-top: 80px;
  text-align: center;
  position: absolute;
  top: 50%;
  font-size: 700%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(252, 240, 240);
   }
 .nav{  
  text-align: center;
  position: top;
  top: 50%;
  left: 50%;

 }
 .navbar h2{
    margin-top: 150px;
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: rgb(7, 4, 4);
    }


.search-box {
  position: absolute;
  height: 40px;
  border-radius: 10px;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding-left: 40px;
  padding-top: 20px;
}

.search-btn {
  float: right;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -65%);
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  font-size: 16px;
  width: 760px;
}

.myTabs {
  width: 100%;
  transform: translate(30%, -500%);
}

.button {
  background-color: rgba(0,0,0,0.5);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px -1px;
  cursor: pointer;
  border-radius: 10px;
}
.button:hover{
  background-color: #25b46c;
}